* {
  box-sizing: border-box;
}

body {
  background-color: $dark;
  color: $light;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50px minmax(300px, 900px) auto minmax(
      0,
      1fr
    );
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    ". header header header ."
    ". sidebar main aside ."
    ". sidebar info aside .";
  grid-gap: 10px 33px;
}

.main-header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-between;
}

.video-area {
  grid-area: main;
}

.playlist-area {
  grid-area: aside;
}

.info-area {
  grid-area: info;
}
