* {
  box-sizing: border-box;
}

body {
  background-color: $dark;
  color: $light;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: minmax(0, 50px) 50px 3fr minmax(0, 50px);
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    "header header header header"
    "aside aside aside aside"
    "info info info info";
}

.video-playing .app,
.video-playing.widescreen .app {
  grid-template-columns: minmax(0, 1fr) 50px minmax(300px, 900px) auto minmax(
      0,
      1fr
    );
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    ". header header header ."
    ". sidebar main main ."
    ". aside aside aside .";
}

.main-header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 0 15px;
}

.video-area {
  grid-area: main;
}

.info-area {
  grid-area: info;
}

.alert-message {
  display: flex;
  font-size: 20px;
  justify-content: center;
  width: 100%;
}

.alert-message img {
  width: 100px;
}

@media (min-width: 850px) {
  .video-playing:not(.widescreen) .app {
    grid-template-columns: minmax(0, 1fr) 50px minmax(300px, 900px) auto minmax(
        0,
        1fr
      );
    grid-template-rows: 100px auto auto;
    grid-template-areas:
      ". header header header ."
      ". sidebar main aside ."
      ". sidebar info aside .";
  }
}
