.playlist-item-wrapper {
  position: relative;
  height: 188px;
  width: 336px;
}

.playlist-item {
  cursor: pointer;
  position: relative;
}

.playlist-item-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.playlist-iframe {
  width: 100%;
}

.delete-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: $light;
  cursor: pointer;
  font-size: 17px;
  padding: 5px;
  transition: background ease-in-out 0.3s;
}

.delete-button:hover {
  background-color: $red-1;
}

.playing-video .delete-button {
  display: none;
}
