.playlist-area {
  display: flex;
  flex-wrap: wrap;
  grid-area: aside;
}

.video-playing .playlist-area {
  display: block;
}

.playlist-item-wrapper {
  position: relative;
  height: 58px;
  width: 206px;
}

.video-playing .playlist-item-wrapper {
  height: 188px;
  width: 336px;
}

.playlist-item {
  cursor: pointer;
  position: relative;
}

.playlist-item-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.playlist-iframe {
  width: 100%;
}

.delete-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: $light;
  cursor: pointer;
  font-size: 17px;
  padding: 5px;
  transition: background ease-in-out 0.3s;
}

.delete-button:hover {
  background-color: $red-1;
}

.playing-video {
  pointer-events: none;
}

.playing-video .delete-button {
  display: none;
}

.playing-video .playlist-item-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.playing-video .playlist-item-overlay:after {
  align-items: center;
  content: "Now Playing";
  display: flex;
  font-size: 19px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  width: 100%;
}
