.sidebar {
  align-items: center;
  align-self: center;
  background-color: $grey;
  border-radius: 17px;
  display: none;
  flex-direction: column;
  grid-area: sidebar;
  justify-content: center;
  overflow-y: auto;
  padding: 5px;
  margin: 0 5px 0 0;
}

.sidebar-item {
  font-size: 19px;
  padding: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: $green;
}

.sidebar-item.youtube,
.sidebar-item.vimeo {
  display: none;
}

.video-playing .sidebar {
  display: flex;
}

.video-playing.youtube .sidebar-item.youtube,
.video-playing.vimeo .sidebar-item.vimeo {
  display: block;
}

.widescreen .sidebar-item .fa-television {
  color: $green;
}

.sidebar-item .fa-heart,
.liked-video .fa-heart-o {
  display: none;
}

.liked-video .fa-heart {
  display: inline-block;
  color: $red-1;
}

@media (max-width: 850px) {
  .js-widescreen {
    display: none;
  }
}
