.video-area {
  display: flex;
  flex: 1 1 auto;
  padding-top: calc(9 / 16 * 100%);
  position: relative;
}

.video-area .playlist-iframe {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
